<ion-view class ="reset-view auth-view">
   <ion-content scroll="false">
      <div class="row">
         <div class="col col-center">
            <div class="card login-container"
               content-tabs tabsdata=\'tabsdata\'>
               <form name="reset_form"
                  class=""
                  novalidate ng-cloak>

                <div class="list padding">
                  <label class="item item-input" ng-class="{'has-error':reset_form.newPassword.$dirty && reset_form.newPassword.$invalid,
                 'no-errors':reset_form.newPassword.$valid}" show-hide-container>
                    <input type="password"  placeholder="New Password" name="newPassword" ng-minlength="6"
                         ng-model="vm.newPassword" required show-hide-input>
                  </label>

                  <div class="error-container" ng-show="reset_form.newPassword.$dirty && reset_form.newPassword.$error"
                    ng-messages="reset_form.newPassword.$error" ng-messages-include="/app/layouts/error-messages.html">
                  </div>

                  <label class="item item-input" ng-class="{'has-error':reset_form.confirmPassword.$dirty && reset_form.confirmPassword.$error.compareTo
                 || reset_form.confirmPassword.$dirty && reset_form.confirmPassword.$invalid, 'no-error':reset_form.confirmPassword.$valid}" show-hide-container>
                    <input type="password"  placeholder="Repeat Password" name="confirmPassword"
                           ng-model="vm.confirmPassword" compare-to="vm.newPassword" required show-hide-input>
                  </label>

                  <div class="error-container" ng-show="reset_form.confirmPassword.$dirty && reset_form.confirmPassword.$error"
                    ng-messages="reset_form.confirmPassword.$error" ng-messages-include="/app/layouts/error-messages.html">
                  </div>

                  <input type="hidden"  name="key" ng-model="vm.key"/>
                </div>

                  <div class="item item-body bottom-content">
                    <button type="submit" class="button button-positive button-block" ng-click="vm.submit()" ng-disabled="reset_form.$invalid">
                      Reset My Password
                    </button>
                  </div>
               </form>
               <div class="text-center padding">
                 <strong>Need help?</strong> Learn more about how to <a href>retrieve an existing account.</a>
               </div>
            </div>

            <div class="copyright stable text-center">
                {{app.year}} &copy; {{ app.name }} by {{ app.author }}.
            </div>
         </div>
      </div>

   </ion-content>
</ion-view>
