<ion-view class="profile-view" cache-view="false">
    <ion-nav-title>
        <span><b>Notifications</b></span>
    </ion-nav-title>

    <ion-content>
    <div class="padding-vertical">
        <h2 class="title text-bold padding">
            Alerts </h2><hr>
        <div class = "row padding-vertical" ng-if="vm.data == null">
            <div class = "col align-middle text-center">No Alerts!!</div>
        </div>

        <div class = "row padding-vertical" ng-repeat="row in vm.data">
            <div>
                <span class="text-small block text-light"></span></br>{{row.date}}</span>

                <div class = "text-small item-text-wrap"><a href="#" style="text-decoration:none">{{row.alarmName}}</a></div>
            </div>
        </div>
    </div>
</ion-content>

</ion-view>
