<ion-view class="profile-view">
    <ion-nav-title>
        <span><b>All Controls</b></span>
    </ion-nav-title>
    <ion-spinner ng-show="vm.progress" icon="spiral"></ion-spinner>
    <ion-content ng-show="!vm.progress"  >
<div>

        <ion-toggle ng-repeat="row in vm.control" ng-if="vm.disableTime"
                    {{row.assetName}}
                    ng-model="row.status"
                    ng-checked="row.status"

        </ion-toggle>
        <div>
             {{row.assetName}}
        </div>

        </div>

        <br><br>
        <div>
            <button type="submit" class="button button-positive button-block" ng-click="vm.saveController()">
                Save
            </button>
            <button  ng-click="vm.onCancel()" class="button button-assertive button-block" > Cancel </button>
        </div>
    </ion-content>
</ion-view>

