<div class="card item">
    <div class="padding-vertical">
    <h2 class="title text-bold padding">
    <b>Ac Status</b> </h2><hr>
<div class="row">
    <div class="col col-40"><b>Asset</b></div>
    <div class="col col-20"><b>Status</b></div>
    <div class="col col-33"><b>Energy Consumed</b></div>
</div>
        <div class = "row" ng-repeat="row in assetStatus.data">
            <div class = "col col-40">
                <span class="text-small block text-light">{{row.assetName}}</span>
            </div>
            <div class = "col col-20">

               <span  ng-if="row.status == 'OFF'" class="label partition-orange text-small" style="display:inline-block;">{{row.status}}</span>
               <span ng-if="row.status == 'ON'" class="label partition-green text-small" style="display:inline-block;">{{row.status}}</span>

            </div>
            <div class = "col col-33" style="text-align:center;">{{row.energyConsumed}}</div>
        </div>

        </div>
    </div>









