<div class="error" ng-message="required">
  <i class="ion-information-circled"></i>
  This field is required!
</div>
<div class="error" ng-message="minlength">
  <i class="ion-information-circled"></i>
  This field is too short!
</div>
<div class="error" ng-message="maxlength">
  <i class="ion-information-circled"></i>
  This field is too long!
</div>
<div class="error" ng-message="email">
  <i class="ion-information-circled"></i>
  Invalid email address!
</div>
<div class="error" ng-message="compareTo">
  <i class="ion-information-circled"></i>
  Password confirmation must match!
</div>
<div class="error" ng-message="pattern">
  <i class="ion-information-circled"></i>
  Invalid input!
</div>
