<ion-side-menus enable-menu-with-back-views="false" cache-view="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
    <ion-content ng-class="vm.theme">
      <ion-list>
        <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.userProfile">
          <div class="user-image-container">
            <pre-img ratio="_1_1" helper-class="rounded-image">
              <img class="user-image" src="img/default-user.png" spinner-on-load ng-if="!vm.user.profilePictureUrl">
              <img class="user-image" ng-src="{{vm.user.profilePictureUrl}}" spinner-on-load ng-if="vm.user.profilePictureUrl">
          	</pre-img>
          </div>
          <h2 class="greeting">{{vm.user.firstname +' '+ vm.user.lastname}}</h2>
          <p class="message">{{vm.user.designation}}</p>
        </ion-item>


        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.dashboard">
          <i class="icon ion-bookmark"></i>
          <h2 class="menu-text">Dashboard</h2>
        </ion-item>


        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.command">
          <i class="icon ion-information"></i>
          <h2 class="menu-text">Controller</h2>
        </ion-item>

  
        <ion-item class="item-icon-left" ng-if="vm.currentAccessLevel >= vm.ACCESS_LEVEL.CLIENT_ADMIN  && vm.isAdminRole == true" nav-clear menu-close ui-sref="app.dashboardAll">
          <i class="icon ion-briefcase"></i>
          <h2 class="menu-text inline-block">All Sites</h2>
        </ion-item>

        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="auth.signout">
          <i class="icon ion-android-exit"></i>
                  <h2 class="menu-text">Log Out</h2>
        </ion-item>


    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
