ion-side-menu ion-item.item {
  background: none;
}

ion-side-menu ion-item.item .item-content .menu-group {
  margin-left: 38px;
  display:block;
}

ion-side-menu .item.active.item-complex > .item-content, .item.activated.item-complex > .item-content, .item-complex.active .item-content.item-complex > .item-content, .item-complex.activated .item-content.item-complex > .item-content, .item .item-content.active.item-complex > .item-content, .item .item-content.activated.item-complex > .item-content {
    background-color: #23262a;
    border-color: none;
}


.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.inline {
  display: inline;
}

.no-radius {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0;
  border-radius: 0 !important;
}

.no-border {
  border: none !important;
}

.no-border-top {
  border-top: none !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

.no-border-left {
  border-left: none !important;
}

.no-border-right {
  border-right: none !important;
}

.border-right {
  border-right-style: solid !important;
  border-right-width: 1px !important;
  border-color: rgba(0, 0, 0, 0.07) !important;
}

.border-left {
  border-left-style: solid !important;
  border-left-width: 1px !important;
  border-color: rgba(0, 0, 0, 0.07) !important;
}

.border-top {
  border-top-style: solid !important;
  border-top-width: 1px !important;
  border-color: rgba(0, 0, 0, 0.07) !important;
}

.border-bottom {
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-color: rgba(0, 0, 0, 0.07) !important;
}

.border-light {
  border-color: rgba(255, 255, 255, 0.2) !important;
}

.border-around {
  border: 1px solid #c8c7cc !important;
}

.panel-white .border-light, .partition-white .border-light {
  border-color: rgba(0, 0, 0, 0.07) !important;
}

.border-dark {
  border-color: rgba(0, 0, 0, 0.2);
}

.panel-white .border-dark, .partition-white .border-dark {
  border-color: rgba(0, 0, 0, 0.3) !important;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.no-display {
  display: none !important;
}

.display-table {
  display: table !important;
}

.display-table-cell {
  display: table-cell !important;
}

.example {
  margin: 15px 0;
  padding: 14px 19px;
}

.space5 {
  display: block;
  margin-bottom: 5px !important;
  clear: both;
}

.space7 {
  margin-bottom: 7px !important;
  clear: both;
}

.space10 {
  margin-bottom: 10px !important;
  clear: both;
}

.space12 {
  margin-bottom: 12px !important;
  clear: both;
}

.space15 {
  margin-bottom: 15px !important;
  clear: both;
}

.space20 {
  margin-bottom: 20px !important;
  clear: both;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-35 {
  padding: 35px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-horizontal-5 {
  padding: 0 5px !important;
}

.padding-horizontal-10 {
  padding: 0 10px !important;
}

.padding-horizontal-15 {
  padding: 0 15px !important;
}

.padding-horizontal-20 {
  padding: 0 20px !important;
}

.padding-vertical-10 {
  padding: 10px 0 !important;
}

.padding-vertical-15 {
  padding: 15px 0 !important;
}

.padding-vertical-20 {
  padding: 20px 0 !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-bottom-15 {
  padding-bottom: 15px !important;
}

.padding-bottom-20 {
  padding-bottom: 20px !important;
}

.padding-bottom-25 {
  padding-bottom: 25px !important;
}

.padding-bottom-30 {
  padding-bottom: 30px !important;
}

.padding-bottom-35 {
  padding-bottom: 35px !important;
}

.padding-bottom-40 {
  padding-bottom: 40px !important;
}

.padding-bottom-45 {
  padding-bottom: 45px !important;
}

.padding-bottom-50 {
  padding-bottom: 50px !important;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-top-15 {
  padding-top: 15px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.padding-top-25 {
  padding-top: 25px !important;
}

.padding-top-30 {
  padding-top: 30px !important;
}

.padding-top-35 {
  padding-top: 35px !important;
}

.padding-top-40 {
  padding-top: 40px !important;
}

.padding-top-45 {
  padding-top: 45px !important;
}

.padding-top-50 {
  padding-top: 50px !important;
}

.padding-top-55 {
  padding-top: 55px !important;
}

.padding-top-60 {
  padding-top: 60px !important;
}

.padding-top-65 {
  padding-top: 65px !important;
}

.padding-top-70 {
  padding-top: 70px !important;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-left-20 {
  padding-left: 20px !important;
}

.padding-left-25 {
  padding-left: 25px !important;
}

.padding-left-30 {
  padding-left: 30px !important;
}

.padding-left-35 {
  padding-left: 35px !important;
}

.padding-left-40 {
  padding-left: 40px !important;
}

.padding-left-45 {
  padding-left: 45px !important;
}

.padding-left-50 {
  padding-left: 50px !important;
}

.padding-left-55 {
  padding-left: 55px !important;
}

.padding-left-60 {
  padding-left: 60px !important;
}

.padding-left-65 {
  padding-left: 65px !important;
}

.padding-left-70 {
  padding-left: 70px !important;
}

.padding-left-75 {
  padding-left: 75px !important;
}

.padding-left-80 {
  padding-left: 80px !important;
}

.padding-left-85 {
  padding-left: 85px !important;
}

.padding-left-90 {
  padding-left: 90px !important;
}

.padding-right-0 {
  padding-right: 0px !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-right-15 {
  padding-right: 15px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.padding-right-25 {
  padding-right: 25px !important;
}

.padding-right-30 {
  padding-right: 30px !important;
}

.padding-right-35 {
  padding-right: 35px !important;
}

.padding-right-40 {
  padding-right: 40px !important;
}

.padding-right-45 {
  padding-right: 45px !important;
}

.padding-right-50 {
  padding-right: 50px !important;
}

.padding-right-55 {
  padding-right: 55px !important;
}

.padding-right-60 {
  padding-right: 60px !important;
}

.padding-right-65 {
  padding-right: 65px !important;
}

.padding-right-70 {
  padding-right: 70px !important;
}

.padding-right-75 {
  padding-right: 75px !important;
}

.padding-right-80 {
  padding-right: 80px !important;
}

.padding-right-85 {
  padding-right: 85px !important;
}

.padding-right-90 {
  padding-right: 90px !important;
}

.margin-negative-5 {
  margin: -5px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-35 {
  margin: 35px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-bottom-35 {
  margin-bottom: 35px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-bottom-45 {
  margin-bottom: 45px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.margin-top-0 {
  margin-top: 0px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-25 {
  margin-top: 25px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-35 {
  margin-top: 35px !important;
}

.margin-top-40 {
  margin-top: 40px !important;
}

.margin-top-45 {
  margin-top: 45px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.margin-right-0 {
  margin-right: 0px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

.margin-right-25 {
  margin-right: 25px !important;
}

.margin-right-30 {
  margin-right: 30px !important;
}

.margin-right-35 {
  margin-right: 35px !important;
}

.margin-right-40 {
  margin-right: 40px !important;
}

.margin-right-45 {
  margin-right: 45px !important;
}

.margin-right-50 {
  margin-right: 50px !important;
}

.margin-left-0 {
  margin-left: 0px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-left-25 {
  margin-left: 25px !important;
}

.margin-left-30 {
  margin-left: 30px !important;
}

.margin-left-35 {
  margin-left: 35px !important;
}

.margin-left-40 {
  margin-left: 40px !important;
}

.margin-left-45 {
  margin-left: 45px !important;
}

.margin-left-50 {
  margin-left: 50px !important;
}





.toast-message  {
  color: #ffffff;
}
dt-box-header, dt-bar-graph, dt-wave-graph, dt-expenses-graph, dt-real-time-knob, dt-map-markers, ng-map {
  width: 100%;
}
.counter {
    font-size: 50px;
}
.panel-green, .partition-green {
  background-color: #5A8770;
  position: relative;
  color: #ffffff;
}
.panel-green .panel-tools .btn, .panel-green .panel-tools > a, .partition-green .panel-tools .btn, .partition-green .panel-tools > a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.panel-green .panel-tools .btn:hover, .panel-green .panel-tools > a:hover, .partition-green .panel-tools .btn:hover, .partition-green .panel-tools > a:hover {
  color: #ffffff !important;
}
.panel-pink, .partition-pink  {
  background-color: #F5888D;
  position: relative;
  color: #ffffff;
}
.panel-orange, .partition-orange {
    background-color: #F18636;
    position: relative;
    color: #ffffff;
}
.panel-yellow, .partition-yellow {
  background-color: #EEB424;
  position: relative;
  color: #ffffff;
}

.panel-red, .partition-red {
  background-color: #C82E29;
  position: relative;
  color: #ffffff;
}
.panel-red .panel-tools .btn, .panel-red .panel-tools > a, .partition-red .panel-tools .btn, .partition-red .panel-tools > a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.panel-red .panel-tools .btn:hover, .panel-red .panel-tools > a:hover, .partition-red .panel-tools .btn:hover, .partition-red .panel-tools > a:hover {
  color: #ffffff !important;
}
.label {
    display: inline;
    padding: .3em .6em;
    font-size: 54%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin: 6px;
}

.right-align {
  right: 11px;
  display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 10%;
    height: 100%;
    font-size: 32px;
}


.row {
  border-bottom: 1px solid #E5E5E5;
}
.align-middle {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.text-extra-small, -extra-small span {
    font-size: 11px !important;
}
.text-small {
  font-size: 15px !important;
}
.text-large {
  font-size: 25px !important;
}

.text-primary, .text-primary span {
  color: #58748B !important;
}

.text-grey, .text-grey span {
  color: #c8c7cc !important;
}

.text-azure, .text-azure span {
  color: #5B9BD1 !important;
}

.text-orange, .text-orange span {
  color: #F18636 !important;
}

.text-green, .text-green span {
  color: #5A8770 !important;
}

.text-blue, .text-blue span {
  color: #407887 !important;
}

.text-pink, .text-pink span {
  color: #F5888D !important;
}

.text-purple, .text-purple span {
  color: #9A89B5 !important;
}

.text-bricky, .text-bricky span {
  color: #894550 !important;
}

.text-yellow, .text-yellow span {
  color: #EEB424 !important;
}

.text-red, .text-red span {
  color: #C82E29 !important;
}

.text-info, .text-info span {
  color: #46b8da !important;
}

.text-white, .text-white span {
  color: #ffffff !important;
}
.text-data {
  font-size: 25px !important;
}
.text-bold {
  color: #000;
}

.error-container {
  margin: 5px 0;
}

.error-container:last-child {
    margin: 5px 0 0;
}

.error {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;
  vertical-align: middle;
}


.has-errors {
  border-bottom: 3px solid #B83E2C;
}

.no-errors {
  border-bottom: 3px solid green;
}
.ion-autocomplete-cancel {
  border-color: transparent !important;
  background-color: #33779B !important;
  color: #fff !important;
  padding: 0 2px !important;
}
